* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

#root {
    background-color: #FBA834;
    background-image: url('../public/assets/imgs/plane.png');
    background-repeat: no-repeat;
    background-size: 30% auto;
    background-position: top left;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    animation: fly 6s linear infinite;
}

.container {
    background: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 600px;
    width: 90%;
    position: relative;
    z-index: 1;
    margin: 40px auto;
}

.form-group {
    margin-bottom: 50px;
}

h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 40px;
    text-align: center;
    line-height: 1.3;
}

@media (max-width: 600px) {
    @keyframes fly {
        0% {
            background-position: -800px -50vh;
            background-size: 50% auto;
        }
        100% {
            background-position: calc(100% + 800px) 50vh;
            background-size: 100% auto;
        }
    }

    body {
        background-size: 50% auto;
        background-position: top right;
    }

    .container {
        width: 80%;
        padding: 20px;
        margin: 20px;
    }

    h1 {
        font-size: 24px;
        margin-bottom: 25px;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    @keyframes fly {
        0% {
            background-position: -800px 0px;
            background-size: 10% auto;
        }
        100% {
            background-position: calc(100% + 800px) 50vh;
            background-size: 60% auto;
        }
    }
    
    body {
        background-size: 40% auto;
    }

    .container {
        padding: 35px;
        width: 80%;
        margin: 30px;
    }

    h1 {
        font-size: 26px;
    }
}

@media (min-width: 1200px) {
    @keyframes fly {
        0% {
            background-position: -800px 0px;
            background-size: 10% auto;
        }
        100% {
            background-position: calc(100% + 800px) 50vh;
            background-size: 60% auto;
        }
    }

    .container {
        width: 700px;
        padding: 50px;
    }

    h1 {
        font-size: 32px;
        margin-bottom: 40px;
    }
}
